.vscode/launch.json
.vscode/.ropeproject/config.py
__pycache__/gol_tools.cpython-38.pyc
__pycache__/GolTools.cpython-38.pyc
__pycache__/quad_2n_one.cpython-38.pyc
__pycache__/quad_2n.cpython-38.pyc
__pycache__/speed.cpython-38.pyc
__pycache__/square_cell.cpython-38.pyc
